/* header */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
body{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 14;
    background-color: #a5a5a5;
    margin: 0;
}
.header{
    background-color: #f1f1f1;
    padding-top: 40px;
}
.container{
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 70px;
}
.logo{
    font-weight: 700;
    font-size: 50px;
    color: black;
    text-decoration: none;
}

/* navigation */
.nav_list{
list-style-type: none;
display: flex;
column-gap: 60px;
font-weight: 500px;
font-size: 25px;
}

.nav_link{
text-decoration: none;
color: #000;
transition: all 0.2s ease;
}

.nav_link:hover{
    color: #EE204D;
}

/* heder_content */
.header_row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.heder_content{
    margin-top: 120px;
    max-width: 500px;
}
.header_heading{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 44px;
}
.heder_content.p{
    line-height: 2;
}
.pc{
    width: 700px;
    height: 700px;
    margin-bottom: 50px;
}

/* main */
.services{
    padding: 90px 0;
}
.main_title{ 
    padding-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}
.services_row{
    display: flex;
    column-gap: 30px;
}
.services_card_img{
    margin-bottom: 30px;
    width: 80px;
    overflow: hidden;
    display: block;
    margin: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.services_card_img:hover{
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 1px double #EE204D;
}

.services_card_title{
    margin-bottom: 10px;
    font-size: 600;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}
.p{
    font-size: 10;
    text-align: center;
}

/* footer */
.footer{
    background-color:#293133;
    
}

.footer_title{
    color: #a5a5a5;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.footer_card{
   display: flex;
    justify-content: space-between; 
}
.footer_card_nav{
    display: flex;
    column-gap: 150px;
}

.footer_text{
    color: #a5a5a5;
    margin: 0;
    padding-bottom: 10px;
    font-size: 20px;
}
.footer_text_p{
    color: #a5a5a5;
    margin: 0;
    font-size: 15px;
}

.footer_img{
    margin-bottom: 3%;
    width: 30px;   
    display: block;
    margin: auto;
}
.footer_main_text{
    color: #a5a5a5;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
}
.footer_card_text{  
    color: #a5a5a5;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
